obj
bin
appsettings.json
*.db
API/.vs/API/FileContentIndex/4f4880ea-4fde-469e-86df-75ec3a10516f.vsidx
API/.vs/API/FileContentIndex/785d683a-163f-4b76-9ca0-a4ee599aa829.vsidx
API/.vs/API/FileContentIndex/a6bf3869-a3db-4a54-8ec9-d7dade373e69.vsidx
API/.vs/API/FileContentIndex/c4f02117-fd09-4271-ad75-33a0725a785e.vsidx
API/.vs/API/FileContentIndex/read.lock
API/.vs/API/v17/.suo
API/.vs/API/config/applicationhost.config
API/.vs/VSWorkspaceState.json
API/.vs/slnx.sqlite
API/.vs/ProjectSettings.json
API/skinet.db-wal
API/skinet.db-shm
.vs/skinet/v17/.futdcache.v2
.vs/skinet/v17/.suo
.vs/skinet/v16/.suo
.vs/skinet/FileContentIndex/ff4b7c22-f28e-436d-a2fd-5f074ee74ffc.vsidx
.vs/skinet/FileContentIndex/read.lock
.vs/skinet/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/skinet.projects.v5.1
.vs/ProjectEvaluation/skinet.metadata.v5.1
